<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">
        <i class="fa fa-plus-circle">&nbsp;</i>Add Contact
      </p>
      <p class="fst-italic">hello you can add your ocntacts here</p>
    </div>
  </div>
</div>
<!-- contact form -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Mobile Number" />
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option value="">Select group</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-success" value="Create" />
          <a routerLink="/" class="btn btn-warning ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        src="https://global-uploads.webflow.com/5e4627609401e01182af1cce/5eb13bfdb4659efea4f8dace_profile-dummy.png"
        alt=""
        class="contact-img"
      />
    </div>
  </div>
</div>
