<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">
        <i class="fa fa-eye">&nbsp;</i>View Contact
      </p>
      <p class="fst-italic">hello you can view your ocntacts here</p>
    </div>
  </div>
</div>
<!-- View Contact Details -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img
        src="https://global-uploads.webflow.com/5e4627609401e01182af1cce/5eb13bfdb4659efea4f8dace_profile-dummy.png"
        alt=""
        class="contact-img-details"
      />
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">Name: <span class="fw-bold">Name</span></li>
        <li class="list-group-item">
          Email: <span class="fw-bold">Email</span>
        </li>
        <li class="list-group-item">
          Mobile: <span class="fw-bold">Number</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <a routerLink="/" class="btn btn-warning"
        ><i class="fa fa-arrow-alt-circle-left">&nbsp;</i>Go Back</a
      >
    </div>
  </div>
</div>
